<!-- Login EJS template -->

<html>
<head>
    <%- include('partials/head.ejs',
    {
    pageTitle: 'Home',
    pageDescription: 'Dashboard for mcdns.me',
    }) %>
</head>
<body class="bg-gray-100 text-gray-900">
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
        <% for (let i = 0; i < servers.length; i++) { %>
            <!-- Each server will have a list item entry, that when clicked, will redirect to the server's dashboard -->
            <div class="mt-0">
                <a href="/dashboard/<%= servers[i].id %>"
                   class="flex items-center justify-between bg-white <% if (i == 0) { %> rounded-t-lg <% } %> border border-gray-300 p-4">
                    <div class="flex items-center justify-between">
                        <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">
                                <%= servers[i].name %>
                            </div>
                            <div class="text-sm text-gray-500 inline-block" id="server-<%= servers[i].id %>-status">
                                <!-- Server online status (will be updated by websocket) -->
                                Loading...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
        <!-- Create server -->
        <div class="mt-0">
            <a href="/create"
               class="flex items-center justify-between bg-white rounded-b-lg border border-gray-300 p-4">
                Create Server
            </a>
        </div>
    </div>
</div>

<!-- Websocket script -->
<script src="/socket.io/socket.io.js"></script>
<script>
	// connect to socket
	var socket = io();

	socket.on('connect', function () {
        socket.emit("declare", "index")
		// emit the server id to the server
		socket.on('status', function (data) {
			// update the status of the server
			if (data.online === true) {
				// Inner HTML will be a green circle (use tailwind css to make this!) and the text "Online"
                let html = `
                    <div class="w-4 h-4 rounded-full bg-green-500 inline-block"></div>
  		    <div class="ml-2 text-green-500 font-semibold inline-block">Online</div>
                `
                document.getElementById("server-" + data.id + "-status").innerHTML = html;
			} else {
				// Inner HTML will be a red circle (use tailwind css to make this!) and the text "Offline"
                let html = `
                    <div class="w-4 h-4 rounded-full bg-red-500 inline-block"></div>
		    <div class="ml-2 text-red-500 font-semibold inline-block">Offline</div>
                `
                document.getElementById("server-" + data.id + "-status").innerHTML = html;
			}
		});
	});
</script>
</body>
</html>
